<!DOCTYPE html>
<html>
<head>
  <title>Flirt</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="row">
    <div class="small-8 columns">
      <h1>Flirt</h1>
    </div>
    <div class="small-4 columns" id="app_btns">
      <% if @current_user.present? %>
        <%= render :partial => "layouts/logged_in" %>
      <% else %>
        <%= render :partial => "layouts/logged_out" %>
      <% end %>
    </div>
  </div>
  <div class="row" id="form_row">
    <div class="small-4 small-offset-10 columns">
      <div id="form"></div>
    </div>
  </div>



<%= yield %>

</body>
</html>
